go 1.19

use (
	./antsDemo
	./concDemo
	./beegoWeb/BeegoApi
	./goMq
	./goRedis
	./ginWeb
	./rpcDemo
	./rpcDemo/Demo0
	./goEtcd
	./函数init
	./切片
	./包管理
	./结构体/工厂函数
	./结构体/方法/继承字段方法的可见性
	./工厂模式自动注册
	./分布式锁
	./性能分析
)
