go 1.19

use (
	./grpcDemo/grpc_gateway
	./grpcDemo/grpc_name_resolver
	./grpcDemo/grpc_server_client_demo
	./grpcDemo/grpc_server_client_demo_with_stream
	./grpcDemo/grpc_server_client_demo_with_tls
	./grpcDemo/grpc_with_credentials
	./grpcDemo/grpc_with_ctx
	./grpcDemo/grpc_with_interceptor
	./grpcDemo/grpc_with_retry
	./grpcDemo/grpc_with_metadata
	./grpcDemo/jwt_demo
	./grpcDemo/protobuf_demo
	./grpcDemo/raw_rpc_demo
	./beegoAPIDemo
	./goKafka
	./goOrm
	./goMq
	./goRedis
	./ginWebDemo
	./goEtcd
	./微服务/链路追踪/单节点
	./微服务/链路追踪/distribute_tracing_grpc
	./微服务/链路追踪/distribute_tracing_gin
	./error/error_demo
	./gOrmGen
)
